.desktop-files {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  align-items: center;
  justify-items: center;

  grid-template-areas:
    '. . . .  me . '
    '. . . . exp rand'
    '. . . . . skls'
    '. . . . . .'
    '. . . . . res'
    '. . . . . creds';

  .file {
    margin: 1rem;
    cursor: pointer;
    &:active {
      color: white;
      background-color: black;
    }
  }
  #me {
    grid-area: me;
  }
  #exp {
    grid-area: exp;
  }
  #rand {
    grid-area: rand;
  }
  #skl {
    grid-area: skls;
  }
  #res {
    grid-area: res;
  }
  #creds {
    grid-area: creds;
  }
}

#rand-gif {
  width: 100%;
  height: 100%;
}

#quals-wrap {
  display: flex;
  flex-direction: row;
  #skills-wrap {
    display: flex;
    flex-direction: column;

    #skill-name {
      margin-left: 2rem;
    }
    #skill-desc {
      margin-left: 4rem;
    }
  }
  #other-quals-wrap {
    border-left: 1px solid black;
    padding-left: 1rem;
    margin-left: 1rem;
    padding-right: 1rem;
  }
  #hobbies-wrap {
    border-top: 1px solid black;
    padding-top: 1rem;
    margin-top: 1rem;
    #hobbies {
      margin-left: 1rem;
    }
  }
}
