.desktop-files {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  align-items: center;
  justify-items: center;

  grid-template-areas:
    '. . . .  me . '
    '. . . . exp rand'
    '. . . . . skls'
    '. . . . . res'
    '. . . . . creds';

  .file {
    margin: 1rem;
    cursor: pointer;
    word-break: initial;
    &:active {
      color: white;
      background-color: black;
    }
  }
  #me {
    grid-area: me;
  }
  #exp {
    grid-area: exp;
  }
  #rand {
    grid-area: rand;
  }
  #skl {
    grid-area: skls;
  }
  #res {
    grid-area: res;
  }
  #creds {
    grid-area: creds;
  }
}

#rand-gif {
  width: 100%;
  height: 100%;
}
