.desktop-files {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: fit-content;

    .file {
        margin: 2rem 0 0 2rem;
        cursor: pointer;
        word-break: initial;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0.5rem;

        img {
            margin-bottom: 0.3rem;
            animation: float 4s ease-in-out infinite;
        }
    }
}

#rand-gif {
    width: 100%;
    height: 100%;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}



#exp-window {

    .section {
        font-style: italic;
        font-style: bold;
        font-size: large;
    }

    height: 100%;

}