.unfocusable,
.focusable {
  position: absolute;
}
.focusable {
  z-index: 9;
}
.react-draggable {
  background-color: white;
  border-radius: 0.5rem;
  > * {
    filter: contrast(0.8);
  }
}

@media only screen and (max-width: 1000px) {
  .unfocusable,
  .focusable {
    transform: none !important;
  }
}
