.unfocusable,
.focusable {
  position: absolute;
}
.react-draggable {
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  > * {
    filter: contrast(0.8);
  }
}

@media only screen and (max-width: 800px) {
  .unfocusable,
  .focusable {
    transform: none !important;
  }
}
