@import '../../styles.scss';
// Colors
$bg-color: #616161;
$dot-color: white;

// Dimensions
$dot-size: 1.5px;
$dot-space: 2px;

.OSbackground {
  width: 40rem;
  height: 30rem;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  border: $lightBorder;
  .OSheader {
    cursor: pointer;
    display: flex;
    background-color: white;
    border-bottom: $border;
    .link {
      margin-right: 1rem;
      display: flex;
      & img {
        height: 1.2rem;
        margin: 0.08rem 0.08rem 0 0.08rem;
        object-fit: cover;
        filter: none;
        &:hover {
          filter: invert(1);
        }
      }
      &:hover {
        background-color: black;
        color: white;
      }
      &:first-of-type {
        margin-left: 1rem;
      }
    }
  }
  .brounds {
    position: relative;
  }
}
