@import '../../styles.scss';
// Colors
$bg-color: #616161;
$dot-color: white;

// Dimensions
$dot-size: 2px;
$dot-space: 3px;

.host {
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  filter: contrast(0.8);
}
.OSbackground {
  // box-shadow:

  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 30rem;
  animation: flicker 0.15s infinite;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  border: $lightBorder;
  .OSheader {
    cursor: pointer;
    display: flex;
    background-color: white;
    border-bottom: $border;
    .link {
      &.img {
        padding: 0rem;
      }
      padding: 0 0.5rem;
      & .img {
        padding: none;
        width: 2rem;
        display: flex;
        justify-content: center;
        & img {
          height: 1.2rem;
          object-fit: cover;
          margin-top: 0.08rem;
        }
        filter: none;
        &:hover {
          filter: invert(1);
        }
      }
      &:hover {
        background-color: black;
        color: white;
      }
      &:first-of-type {
        margin-left: 1rem;
      }
    }
  }
  .desktop {
    position: relative;
    flex-grow: 9;
  }
}
@keyframes flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      opacity: 0.85 + random();
    }
  }
}
