@import '../../styles.scss';
// Colors
$bg-color: #616161;
$dot-color: white;

// Dimensions
$dot-size: 2px;
$dot-space: 3px;
.fadein {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  animation: fadeIn 5s;
  opacity: 0;
  z-index: 999;
  border-radius: 0.5rem 0.5rem 0 0;
  pointer-events: none;
}
.OSbackground {
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 30rem;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  border: $lightBorder;
  transition: width 0.5s;
  transition: height 0.5s;
  box-shadow: inset 0 0 10rem 0 grey;
  animation: flicker 0.2s infinite;
  .OSheader {
    cursor: pointer;
    display: flex;
    background-color: white;
    border-bottom: $border;

    .link {
      &.img {
        padding: 0rem;
      }
      padding: 0 0.5rem;
      & .img {
        padding: none;
        width: 2rem;
        display: flex;
        justify-content: center;
        & img {
          height: 1.2rem;
          object-fit: cover;
          margin-top: 0.08rem;
        }
        filter: none;
        &:hover {
          filter: invert(1);
        }
      }
      &:hover {
        background-color: black;
        color: white;
      }
      &:first-of-type {
        margin-left: 1rem;
      }
    }
  }
  #desktop {
    position: relative;
    flex-grow: 9;
  }
}

@keyframes fadeIn {
  0% {
    pointer-events: all;
    opacity: 1;
  }
  25% {
    pointer-events: all;
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      opacity: 0.9 + random();
    }
  }
}

@media only screen and (max-width: 800px) {
  .OSbackground {
    width: 95vw;
    height: 95vh;
  }
}
