@import '../../styles.scss';

.mainOS {
    // width: 45rem;
    // height: 30rem;
    width: 97vw;
    height: 97vh;
    transition: width 0.5s;
    transition: height 0.5s;
}
.OSbackground {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @extend .dotten-background;
    border: $lightBorder;
    box-shadow: inset 0 0 10rem 0 grey;
    animation: flicker 0.2s infinite;
    overflow: hidden;
    border-radius: inherit;

    .OSheader {
        display: flex;
        background-color: white;
        border-bottom: $border;
    }
    #desktop {
        position: relative;
        flex-grow: 9;
    }
}
@keyframes flicker {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            opacity: 0.95 + random();
        }
    }
}

@media only screen and (max-width: 800px) {
    .mainOS {
        width: 95vw;
        height: 90vh;
        top: 1rem;
    }
}

.dotten-background {
    // Colors
    $bg-color: grey;
    $dot-color: white;

    // Dimensions
    $dot-size: 2px;
    $dot-space: 3px;
    background: linear-gradient(
                90deg,
                $bg-color ($dot-space - $dot-size),
                transparent 1%
            )
            center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
            center,
        $dot-color;
    background-size: $dot-space $dot-space;
}
