@import '../../styles.scss';

.mainOS {
    height: 80vh;
    aspect-ratio : 1 / 1 ;
    max-width: 1500px;
    transition: width 0.5s;
    transition: height 0.5s;
}
.OSbackground {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @extend .dotten-background;
    border: $lightBorder;
    box-shadow: inset 0 0 10rem 0 beige;
    animation: flicker 0.2s infinite;
    overflow: hidden;
    border-radius: inherit;

    .OSheader {
        display: flex;
        background-color: white;
        border-bottom: $border;
    }
    #desktop {
        position: relative;
        flex-grow: 9;
        height: 100%;
    }
}
@keyframes flicker {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            opacity: 0.95 + random();
        }
    }
}

@media only screen and (max-width: 800px) {
    .mainOS {
        width: 95dvw;
        height: 90dvh;
        aspect-ratio: none;
        top: 1rem;
    }
}

