@import './../../styles.scss';
.wrap {
  position: relative;
}
.window {
  border-top: $border;
  border-right: $heavyBorder;
  border-bottom: $heavyBorder;
  border-left: $border;
  background-color: white;
  position: absolute;
  top: 5rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
}
.header {
  border-bottom: $border;
  cursor: pointer;
  position: relative;

  .close {
    position: absolute;
    margin-bottom: auto;
    margin-top: auto;
    left: 6px;
    top: 0;
    text-align: center;
    /* right: 0; */
    bottom: 0;
    width: 0.7rem;
    height: 0.7rem;
    border: 1px black solid;
    cursor: pointer;
    &:active {
      background-color: black;
      color: black;
    }
  }
}
.contents {
  overflow-y: scroll;
  overflow-x: scroll;
}
