@import './../../styles.scss';
.wrap {
  position: relative;
}
.window {
  border-top: $border;
  border-right: $heavyBorder;
  border-bottom: $heavyBorder;
  border-left: $border;
  background-color: white;
  position: absolute;
  top: 5rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
}
.header {
  border-bottom: $border;
  cursor: pointer;
  position: relative;
  display: flex;
  .title {
    margin: 0 0.5rem;
  }
  .close {
    position: absolute;
    margin-bottom: auto;
    margin-top: auto;
    left: 0.6rem;
    top: 0;
    text-align: center;
    /* right: 0; */
    bottom: 0;
    width: 0.8rem;
    height: 0.7rem;
    border: 1px black solid;
    cursor: pointer;
    background-color: white;
    &:active {
      background-color: black;
      color: black;
    }
  }
}
.contents {
  overflow-y: scroll;
  overflow-x: scroll;
  resize: both;
}

.lineWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 0.2rem;
  .line {
    border-bottom: 1px black solid;
  }
}
