@import 'chicago.css';
@import './components/MainOS/MainOS.scss';
body {
    overflow: hidden;
    margin: 0;
    // font
    font-family: ChigacoFLF, sans-serif;

    //disables all text selection, makes dragging very smooth
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/

    word-break: break-word;
}
ul {
    padding-inline-start: 20px;
}
h1 {
    margin-block-start: 0;
}
.selectable {
    //disables all text selection, makes dragging very smooth
    -webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
    -khtml-user-select: text !important; /* Konqueror HTML */
    -moz-user-select: text !important; /* Firefox */
    -ms-user-select: text !important; /* Internet Explorer/Edge */
    user-select: text !important; /* Non-prefixed version, currently*/
    text-align: start;
    height: 100%;
    ::selection {
        color: white;
        background-color: black;
    }
    /* for firefox */
    ::moz-selection {
        color: white;
        background-color: black;
    }
}
//retro scroll bar styling
::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
    background-color: white;
    width: 1rem;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
    background-color: white;
    border: 1px solid black;
    width: 1rem;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
    @extend .dotten-background;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-corner {
    background-color: whitesmoke;
}

// $custom-cursor: url("custom.gif"), url("custom.cur"), default;

//custom styling for react-zoom-pan-pinch lib
.TransformComponent-module_container__3NwNd {
    width: 100% !important;
    height: 100% !important;
}
