@import 'chicago.css';
body {
  margin: 0;
  // font
  font-family: ChigacoFLF, sans-serif;

  //disables all text selection, makes dragging very smooth
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

//retro scroll bar styling
::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
  background-color: white;
  width: 1rem;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  background-color: white;
  border: 1px solid black;
  width: 1rem;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
  background-color: whitesmoke;
  border-left: 1px solid #000;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-corner {
  background-color: whitesmoke;
}
